{% extends "base.html" %}

{% block header %}
    {% load static %}

    <title>Pie Charts</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.2/c3.min.css" rel="stylesheet" type="text/css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.2/c3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-1.48.3.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>

    <script src="{% static "js/pie.js" %}"></script>

{% endblock %}

{% block content %}
    <h1 class="display-2">Pie Charts</h1>
    <br/>
    <div class="card general_form">
        <div class="card-body">
            <form id="parameters">
                Number of Categories:
                <input type="number" id="num_cat" value="5" class="small_num_input">
                <br/>
                <a class="btn btn-primary" onclick="activate_graph()">Submit</a>
            </form>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-body">
            Currently the charts all use random data. This will probably change later.<br/>
            Default options reflect the minimal configuration options specified. <br/>
            The options do <b>not</b> reflect all the changes that can be specified, just some of the most common
            ones.<br/>
            The chart must be refreshed to reflect the changes. <br/>
        </div>
    </div>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Plotly.js</a></li>
            <li><a href="#tabs-2">CanvasJS</a></li>
            <li><a href="#tabs-3">C3js</a></li>
        </ul>
        <div id="tabs-1">
            <div class="card">
                <div class="card-body">
                    <form id="plotly_options">
                        Title:
                        <input type="checkbox" id="plotly_title" value="plotly_title">
                        <br/>
                        Labels:
                        <input type="checkbox" id="plotly_labels" value="plotly_labels">
                        <br/>
                        <input type="button" value="Refresh" onclick="activate_graph()">
                    </form>
                </div>
            </div>

            <div id="plotly_chart"></div>

            <div class="form-group">
                <label for="comment">Plotly Data:</label>
                <textarea class="form-control" rows="10" id="plotly_data"></textarea>
            </div>

            <div class="form-group">
                <label for="comment">Plotly Layout Code:</label>
                <textarea class="form-control" rows="10" id="plotly_layout"></textarea>
            </div>
        </div>

        <div id="tabs-2">
            <div class="card">
                <div class="card-body">
                    <form id="canvas_options">
                        Title:
                        <input type="checkbox" id="canvas_title" value="canvas_title">
                        <br/>
                        <input type="button" value="Refresh" onclick="activate_graph()">
                    </form>
                </div>
            </div>

            <div id="canvas_chart"></div>

            <div class="form-group">
                <label for="comment">CanvasJS object Code:</label>
                <textarea class="form-control" rows="10" id="canvas_source"></textarea>
            </div>
        </div>

        <div id="tabs-3">
            <div class="card">
                <div class="card-body">

                    <form id="c3_options">
                        Title:
                        <input type="checkbox" id="c3_title" value="c3_title">
                        <br/>
                        <input type="button" value="Refresh" onclick="activate_graph()">
                    </form>
                </div>
            </div>
            <div id="c3js_chart"></div>

            <div class="form-group">
                <label for="comment">C3js object Code:</label>
                <textarea class="form-control" rows="10" id="c3_source"></textarea>
            </div>
        </div>
    </div>

{% endblock %}